body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}
body h2 {
  color: #000;
  font-weight: 400;
  font-size: 25px;
}
body h2 i {
  margin-right: 10px;
}
body h3 {
  font-weight: 400;
}
body h3 i {
  margin-right: 10px;
}
img {
  max-width: 100%;
}
.main-container {
  margin-left: 0;
  margin-right: 0;
}
.btn-primary {
  border-radius: 5px !important;
  padding: 10px 20px;
  background: #E3291C;
  color: #fff;
  border: none !important;
}
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.search input {
  width: 50%;
  color: #000;
  padding: 10px 20px;
  float: left;
  height: 50px;
}
.search select {
  width: 29%;
  padding: 10px 20px;
  margin-left: 1%;
  float: left;
  height: 50px;
  color: #000;
  border: none;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right #ffffff;
}
.search .select2 {
  float: left;
  height: 50px !important;
}
.search .select2 .select2-selection__rendered {
  padding-top: 10px;
}
.search .select2 .select2-selection__arrow {
  top: 15px !important;
}
.search .select2 span {
  height: 50px;
}
.search .btn {
  border-radius: 0 !important;
  height: 50px;
  padding: 10px 20px;
  width: 18%;
  margin-left: 2%;
  background: #E3291C;
  color: #fff;
  border: 2px solid #b62116;
}
.main-container {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background: none !important;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
}
nav {
  background-color: #212121 !important;
  padding: 20px;
  color: #fff;
  border: none !important;
  height: auto;
  border-radius: 0px !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  margin-bottom: 0 !important;
}
nav .numOffers {
  margin-top: 3px;
  background-color: red;
  border-radius: 10px;
  padding: 10px 15px;
  margin-right: 10px;
}
nav .numOffers i {
  margin-right: 4px;
}
nav .offerLink {
  display: block;
  float: left;
  margin-top: 3px;
}
nav .offerLink:hover {
  text-decoration: none;
  background: #990000;
}
nav .logo {
  margin-top: -5px;
}
nav .logo img {
  margin-top: -5px;
}
nav .logo:hover {
  border: none;
}
nav img {
  max-width: 190px;
}
nav > div {
  margin: 0;
  padding: 0;
}
nav .navbar-right {
  margin-right: 0;
}
nav .navbar-right a:hover {
  border: none;
}
nav .navbar-right li {
  margin-left: 20px;
}
nav .navbar-right .dropdown-menu {
  padding-top: 0px !important;
  color: #000;
  border-radius: 0px;
  box-shadow: 0px !important;
  padding: 20px;
}
nav .navbar-right .dropdown-menu a {
  color: #000 !important;
  padding: 0 !important;
}
nav .navbar-right .dropdown-menu a:hover {
  padding: 0 !important;
  border: none !important;
  background: #23517C;
  color: #fff;
}
nav .navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
}
nav a {
  color: #fff !important;
  text-decoration: none;
  padding: 10px 0px 20px 0px !important;
}
nav a:hover {
  border-bottom: 4px solid #fff;
  background: transparent !important;
}
nav li {
  display: inline;
}
nav .navbar-collapse {
  float: right;
}
nav .navbar-header {
  display: inline-block;
}
nav ul {
  display: inline-block;
}
nav ul li {
  display: inline;
}
.main-container > div {
  margin-left: 0;
  padding-left: 0;
}
.form-horizontal .control-label {
  text-align: left;
}
.sidebar {
  padding-top: 5px;
  margin-top: 20px;
  padding-bottom: 50px;
  padding-right: 20px;
}
.sidebar hr {
  margin-top: 35px;
  margin-bottom: 35px;
  border-bottom: 2px solid #cccccc;
}
.sidebar ul {
  padding: 0px;
  margin-left: 0px;
}
.sidebar ul li {
  list-style: none;
  padding: 5px 10px;
  border-bottom: 2px solid #e8e8e8;
}
.sidebar ul li a {
  font-size: 17px;
}
.sidebar ul li a:hover {
  text-decoration: none;
}
.sidebar ul li:hover {
  background-color: #fff;
}
.sidebar ul li:last-child {
  border-bottom: 0;
}
.sidebar .to {
  margin-left: -5px;
  margin-right: 5px;
}
.sidebar .pricing {
  margin-top: 20px;
}
.sidebar .pricing .col-md-5 {
  padding: 0;
}
.sidebar .pricing span {
  float: left;
  width: 10%;
  text-align: right;
  padding-right: 4px;
  margin-top: 4px;
}
.sidebar .pricing input {
  width: 90%;
  float: left;
}
.sidebar .pricing .btn {
  margin-top: 20px;
  margin-left: 0px;
}
.sidebar h2 {
  border-bottom: 2px dotted #cccccc;
  padding-bottom: 9px;
}
.main-content {
  margin-top: 0;
  width: 106%;
}
.main-content .homePost {
  padding-bottom: 30px;
  padding-top: 20px;
  border-bottom: 3px solid #ededed;
}
.main-content .homePost h3 {
  margin-top: 0;
  margin-bottom: 4px;
}
.main-content .homePost h4 {
  margin-top: 5px;
}
.main-content .homePost .mainPhoto {
  max-height: 100px;
}
.main-content .homePost img {
  width: 100%;
  max-width: 100%;
  margin-top: 15px;
  margin: 0px auto;
}
.main-content .homePost .bodyText {
  margin-top: 15px;
}
.main-content .homePost .commentCount {
  margin-top: 20px;
}
.main-content .homePost:last-child {
  border-bottom: 0px;
}
.postShow {
  margin-top: 50px;
}
.postShow h2 {
  margin-top: 0;
}
.postShow .smallPhoto {
  width: 30%;
  margin-right: 3%;
  margin-top: 15px;
  float: left;
}
.postShow h4 {
  margin-bottom: 10px;
}
.postShow a {
  margin-top: 20px;
}
.postShow .comment {
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 20px;
  border-bottom: 3px solid #ededed;
}
.postShow .comment h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.postShow .comment .avatar {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.postShow .comment.author {
  background-color: #dfdfdf;
}
.postShow form {
  margin-top: 60px;
}
.postShow .commentSection {
  margin-top: 80px;
}
.postShow .commentSection h2 {
  margin-bottom: 40px;
}
.photo {
  background-image: url("../images/photo.jpg");
  background-position: bottom;
  height: 500px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
.photo h2,
.photo h3,
.photo h4 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.9);
  padding: 0px 20px;
  font-weight: 600;
}
.photo h2:nth-child(2) {
  margin-top: 0;
}
.photo .select2-selection__rendered {
  padding-top: 10px;
}
.photo .select2.select2-container.select2-container--default {
  display: block;
  margin: 0px auto;
  margin-top: 25px;
}
.photo .select2.select2-container.select2-container--default span {
  height: 50px;
}
.photo select {
  border: 0px;
  padding: 15px 25px;
  margin: 0px auto;
  display: block;
  margin-top: 30px;
  text-transform: uppercase;
  width: 40%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.photo button {
  margin: 0px auto;
  padding: 10px 20px;
  display: block;
  margin-top: 25px;
  font-size: 16px;
  background: #E3291C;
  color: #fff;
  border: 2px solid #b62116;
  text-transform: uppercase;
}
.photo h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 36px;
  margin-top: 95px;
  font-weight: 300;
  margin-bottom: 0;
}
.photo h3 {
  color: #fff;
  font-size: 40px;
}
.photo h4 {
  color: #fff;
  font-weight: 800;
  font-size: 53px;
}
.home h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 60px;
  margin-top: 50px;
  text-transform: uppercase;
  border-bottom: 2px dotted #cccccc;
  padding-bottom: 14px;
}
.home .homePost {
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 25px;
}
.home .homePost img {
  max-width: 90px;
}
.home .homePost h4 {
  margin-top: 0;
}
.home .homePost h4 a {
  font-size: 22px;
}
.home .homePost:last-child {
  border-bottom: none;
}
.homePost {
  margin-top: 20px;
  margin-bottom: 20px;
}
.homePost img {
  width: 100%;
  max-height: 180px;
}
.main-section {
  margin-top: 10px;
}
.main-section h2 {
  margin-left: 15px;
  font-weight: 500;
  font-size: 27px;
  border-bottom: 2px dotted #cccccc;
  margin-top: 30px;
  padding-bottom: 10px;
  margin-left: 0;
}
.main-section .homePost {
  min-height: 390px;
}
.main-section .homePost > div {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  min-height: 330px;
}
.main-section .homePost .mainPhoto {
  height: 190px;
}
.main-section .homePost .imageContainer {
  height: 190px;
}
.main-section .homePost .imageContainer img {
  width: 100%;
  max-width: 100%;
  margin-top: 15px;
  max-height: 170px;
}
.main-section .homePost.noPost {
  height: auto;
  min-height: auto;
}
.main-section .homePost.noPost > div {
  min-height: auto;
}
.main-section .homePost.noPost > div h2,
.main-section .homePost.noPost > div h4 {
  text-align: center;
  margin: 0;
}
.main-section .homePost.noPost > div h2 {
  margin-top: 15px;
  margin-bottom: 20px;
}
.main-section .homePost.noPost > div h4 {
  padding-bottom: 30px;
}
.profile h2 {
  margin-bottom: 40px;
}
.profile img {
  margin-right: 20px;
  max-width: 200px;
}
.profile .userInfo h3 {
  font-weight: 500;
  font-size: 29px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.profile .userInfo h4 {
  font-weight: 300;
}
.profile .counts h2 {
  margin-top: 0;
  font-size: 80px;
  color: #E3291C;
  margin-bottom: 0;
  text-align: center;
  margin-left: 0;
  border: none;
}
.profile .counts h4 {
  text-align: center;
}
.profile #posts h2,
.profile #comments h2 {
  margin-left: 0;
  color: #000;
  font-size: 31px;
}
.profile .userInfo {
  margin-bottom: 30px;
}
.profile .noPost.post {
  border-bottom: 0 !important;
}
.profile .noPost.post h2 {
  color: #E3291C !important;
}
.profile .post {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 2px solid #dfdfdf;
}
.profile .post img {
  max-width: 120px;
  margin-right: 40px;
}
.profile .post h2 {
  margin-top: 0;
  padding: 0;
  margin-left: 0;
  margin-bottom: 10px;
  color: #000 !important;
  font-size: 23px !important;
  border: none;
}
.profile .post:last-child {
  border-bottom: none;
}
.profile .nav-tabs {
  margin-top: 40px;
}
.dashboardSidebar ul li {
  display: block;
  width: 100%;
}
.dashboardSidebar ul li a {
  border: none !important;
  border-radius: 0px;
}
#offers h2 {
  margin-top: 0;
  margin-bottom: 30px;
}
#offers .btn {
  font-size: 13px;
  margin-top: 10px;
  padding: 8px 10px;
}
#offers .offer {
  padding-bottom: 30px;
  margin-bottom: 20px;
  padding-top: 10px;
  border-bottom: 2px solid #e9e9e9;
}
#offers .offer.noOffer {
  text-align: left;
}
#offers .offer.noOffer h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  border: none;
}
#offers .offer:last-child {
  border: none;
}
#offers img {
  border-radius: 50%;
  margin-right: 20px;
  max-height: 90px;
  max-width: 90px;
}
#offers h4 {
  font-size: 20px;
  margin-top: 0;
}
#offers p {
  font-size: 14px;
}
.dashboard {
  min-height: 500px;
}
.dashboard > h2 {
  margin-bottom: 30px;
}
footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  margin-top: 50px;
}
footer img {
  max-width: 30px;
  margin-left: 25px;
  margin-right: 5px;
}
footer p {
  color: #fff;
}
footer i {
  font-size: 30px !important;
  float: right;
  margin-left: 30px;
  margin-top: 23px;
}
footer ul {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 0;
  padding-left: 0;
}
footer ul li {
  display: inline;
  padding-right: 20px;
}
footer ul li a {
  color: #fff;
  font-size: 15px;
}
footer ul li a:hover {
  color: #b3b3b3;
  text-decoration: none;
}
footer h2 {
  color: #fff;
}
.smallPhoto:hover {
  cursor: pointer;
}
.feedbackForm {
  margin-top: 40px;
}
.feedbackForm select {
  display: inline-block;
  width: auto;
}
#userSettings select {
  width: 200px;
}
#feedback .feedback,
#feedbackGiven .feedback {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #eaeaea;
}
#feedback .feedback img,
#feedbackGiven .feedback img {
  max-width: 100px;
}
.why {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 60px;
}
.why .whySection img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0px auto;
  display: block;
}
.why .whySection p {
  text-align: center;
  margin-top: 15px;
}
.why .whySection h4 {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
  margin-top: 20px;
}
.why h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 60px;
  font-weight: 300;
}
.why h2 span {
  color: #E3291C;
  font-weight: 600;
}
.listings {
  background-color: #fff;
  padding-bottom: 50px;
  margin-bottom: -70px;
}
@media (max-width: 990px) {
  .photo {
    margin-left: 0;
    height: auto !important;
    padding-bottom: 30px;
  }
  .photo h2 {
    font-size: 20px;
    margin-top: 30px;
  }
  .photo h3,
  .photo h4 {
    font-size: 25px;
  }
  .photo select {
    width: 80%;
  }
  .imageContainer,
  .mainPhoto {
    height: auto !important;
  }
  .logo img {
    margin-bottom: 10px;
  }
  .search input,
  .search select {
    width: 100%;
  }
  .search select {
    margin-left: 0;
    margin-top: 10px;
  }
  .search .btn {
    margin-top: 10px;
    width: 100%;
    margin-left: 0;
  }
}
.registerForm h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
.registerForm label {
  font-weight: 400;
}
.searchContainer,
.minContainer {
  min-height: 700px;
}
.facebookLogin p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 20px;
  padding-right: 70px;
}
.facebookLogin img {
  max-width: 220px;
}
.red {
  color: #E3291C;
}
.pricing .col-xs-5 {
  padding: 0;
}

/*# sourceMappingURL=app.css.map */