body {
	padding:0px;
	margin:0px;
	font-family: 'Roboto', sans-serif;
	background-color:darken(#F5F5F5,1);

	h2 {
		color:#000;
		font-weight:400;
		font-size:25px;

		i {
			margin-right:10px;
		}
	}

	h3 {
		font-weight:400;

		i {
			margin-right:10px;
		}
	}
}

img {
	max-width:100%;
}


.main-container {
	margin-left:0;
	margin-right:0;
}

.btn-primary {
	border-radius: 5px !important;
	    padding: 10px 20px;
	    background:#E3291C;
		color:#fff;
		border:none !important;
}

.container-fluid {
	padding-left:30px;
	padding-right:30px;
}

.search {
	input {
		width:50%;
		color:#000;
		padding:10px 20px;
		float:left;
		height:50px;
	}

	select {
		width:29%;
		padding:10px 20px;
		margin-left:1%;
		float:left;
		height:50px;
		color:#000;
		border:none;
		overflow: hidden;
		background: url(new_arrow.png) no-repeat right #fff;
	}

	.select2 {
		float: left;
    	height: 50px !important;

    	.select2-selection__rendered {
		    padding-top: 10px;
		}

		.select2-selection__arrow {
			top:15px !important;
		}

    	span {
    		height:50px;
    	}
	}

	.btn {
		border-radius: 0 !important;
	    height: 50px;
	    padding: 10px 20px;
	    width: 18%;
	    margin-left:2%;
	    background:#E3291C;
		color:#fff;
		border:2px solid darken(#E3291C,10);
	}
}

.main-container {
	padding-left:0px;
	padding-right:0px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
	background:none !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	background-color:transparent;
}

nav {
	background-color:lighten(#000,13) !important;
	padding:20px;
	color:#fff;
	border:none !important;
	height:auto;

	border-radius: 0px !important;
	box-shadow: 0px 0px 5px rgba(0,0,0,.6);
	margin-bottom:0 !important;


	.numOffers {
		margin-top:3px;
		background-color:red;
		border-radius:10px;
		padding:10px 15px;
		margin-right:10px;

		i {
			margin-right:4px;
		}
	}

	.offerLink {
		display:block;
		float:left;
		margin-top:3px;

		&:hover {
			text-decoration:none;
			background:darken(red,20);
		}
	}

	.logo {
		margin-top:-5px;
		img {
			margin-top:-5px;
		}

		&:hover {
			border:none;
		}
	}

	img {
		max-width:190px;
	}

	>div {
		margin:0;
		padding:0;
	}

	.navbar-right{
		margin-right:0;

		a:hover {
			border:none;
		}

		li {
			margin-left:20px;
		}

		.dropdown-menu {

			padding-top:0px !important;

			a {
				color:#000 !important;
				padding:0 !important;

				&:hover {
					padding:0 !important;
					border:none !important;
					background:#23517C;
					color:#fff;
				}
			}

			color:#000;
			border-radius:0px;
			box-shadow: 0px !important;
			padding:20px;

		}
	}

	.navbar-brand {
		padding:0 !important;
		margin:0 !important;
	}

	a {
		color:#fff !important;
		text-decoration: none;
		padding:10px 0px 20px 0px !important;

		&:hover {
			border-bottom:4px solid #fff;
			background:transparent !important;
		}
	}

	li {
		display:inline;
	}

	.navbar-collapse {
		float:right;
	}

	.navbar-header {
		display:inline-block;
	}

	ul {
		display:inline-block;
		li {
			display:inline;
		}
	}
}


.main-container {

	>div {
		margin-left:0;
		padding-left:0;
	}
}


.form-horizontal .control-label {
	text-align: left;
}


.sidebar {
	padding-top:5px;
	margin-top:20px;
	padding-bottom:50px;
	padding-right:20px;

	hr {
		margin-top:35px;
		margin-bottom:35px;
		border-bottom:2px solid lighten(#000,80);
	}

	select {
		width:100%;
		margin-bottom:40px !important;
	}

	ul {
		padding:0px;
		margin-left:0px;

		li {
			list-style:none;
			padding:5px 10px;
			border-bottom:2px solid darken(#F5F5F5,5);

			a {
				font-size:17px;

				&:hover {
					text-decoration:none;
				}
			}
		}

		li:hover {
			background-color:#fff;
		}

		li:last-child {
			border-bottom:0;
		}
	}

	.to {
		margin-left: -5px;
   		margin-right: 5px;
	}

	.pricing {

		margin-top:20px;
		.col-md-5 {
			padding:0;
		}
		span {
			float:left;
			width:10%;
			text-align: right;
			padding-right:4px;
			margin-top:4px;
		}
		input {
			width:90%;
			float:left;
		}

		.btn {
			margin-top:20px;
			margin-left:0px;
		}
	}

	.btn {
		margin-top:30px;
	}

	h2 {
		border-bottom:2px dotted lighten(#000,80);
		padding-bottom:9px;
	}
}

.main-content {
    margin-top: 0;
    width: 106%;

	.homePost {
		padding-bottom:30px;
		padding-top:20px;
		border-bottom:3px solid darken(#F5F5F5,3);

		h3 {
			margin-top:0;
			margin-bottom:4px;
		}

		h4 {
			margin-top:5px;
		}

		.mainPhoto {
			max-height:100px;
		}

		img {
			width:100%;
			max-width:100%;
			margin-top:15px;
			margin:0px auto;
		}

		.bodyText {
			margin-top:15px;
		}

		.commentCount {
			margin-top:20px;
		}
	}

	.homePost:last-child {
		border-bottom:0px;
	}
}

.postShow {
	margin-top:50px;

	h2 {
		margin-top:0;
		margin-bottom:5px;
		font-weight:600;
	}

	h5 {
		font-size:17px;
		font-weight:400;
	}

	p {
		margin-top:10px;
	}

	.smallPhoto {
		width:30%;
		margin-right:3%;
		margin-top:15px;
		float:left;
	}

	h4 {
		margin-bottom:10px;
	}

	a {
		margin-top:20px;
	}
	.comment {
		margin-top:20px;
		padding-bottom:15px;
		padding-top:20px;
		border-bottom:3px solid darken(#F5F5F5,3);

		h4 {
			margin:0;
			padding:0;
			margin-bottom:5px;
		}

		.avatar {
			background-repeat: no-repeat;
	    	background-position: 50%;
	    	border-radius: 50%;
	    	width: 70px;
	    	height: 70px;
		}
	}

	.comment.author {
		background-color:darken(#F8F8F8,10);
	}

	form {
		margin-top:60px;
	}

	.commentSection {
		margin-top:80px;

		h2 {
			margin-bottom:40px;
		}

		h3 {
			margin-bottom:35px;
		}
	}
}


.photo {
	background-image:url("../images/photo.jpg");
	background-position: bottom;
	height:500px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.6);


	h2,h3,h4 {
		text-align: center;
		text-transform: uppercase;
		text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.9);
		padding:0px 20px;
		font-weight:600;
	}

	h2:nth-child(2)
	{
		margin-top:0;
	}

	.select2-selection__rendered {
    	padding-top: 10px;
	}

	.select2.select2-container.select2-container--default {
		display:block;
		margin:0px auto;
		margin-top:25px;

		span {
			height:50px;
		}
	}

	select {
		border:0px;
		padding:15px 25px;
		margin:0px auto;
		display:block;
		margin-top:30px;
		text-transform: uppercase;
		width:40%;
		box-shadow:0px 0px 6px rgba(0,0,0,.4);
	}

	button {
			margin:0px auto;
			padding:15px 50px;
			display:block;
			margin-top:25px;
			font-size:16px;
			background:#E3291C;
			color:#fff;
			border:2px solid darken(#E3291C,10);
			text-transform: uppercase;
		}

	h2 {
		color:#fff;
		text-transform: capitalize;
		font-size:36px;
		margin-top:95px;
		font-weight:300;
		margin-bottom:0;
	}

	h3 {
		color:#fff;
		font-size:40px;
	}
	h4 {
		color:#fff;
		font-weight:800;
		font-size:53px;
	}
}


.home {
	h3 {
		font-size:30px;
		font-weight:500;
		margin-bottom:60px;
		margin-top:50px;
		text-transform: uppercase;
		border-bottom:2px dotted lighten(#000,80);
		padding-bottom:14px;
	}

	.homePost {
		border-bottom:2px solid darken(#fff,1);
		padding-bottom:25px;

		img {
			max-height:90px;
		}

		h4 {
			margin-top:0;

			a {
    			font-size: 22px;
			}
		}
	}

	.homePost:last-child {
		border-bottom:none;
	}
}

.homePost {
	margin-top:20px;
	margin-bottom:20px;
	img {
		width:100%;
		max-height:180px;
	}
}


.main-section {
	margin-top:10px;

	h2 {
		margin-left:15px;
		font-weight:500;
		font-size:27px;
		border-bottom:2px dotted lighten(#000,80);
		margin-top:30px;
		padding-bottom:10px;
		margin-left:0;
	}

	.homePost {

		min-height:440px;

		> div {
			background-color:rgba(255,255,255,.7);
			padding:20px;
			min-height:330px;
		}

		.mainPhoto {
			height:190px;

		}

		h4 {
			a {
				font-size:23px;
			}
		}

		.imageContainer {
			height:190px;
		img {
			width:100%;
			max-width:100%;
			margin-top:0px;
			max-height:170px;
		}
		}
	}

	.homePost.noPost {
		height:auto;
		min-height:auto;

		>div {
			min-height:auto;

			h2,h4 {
				text-align:center;
				margin:0;
			}

			h2 {
				margin-top:15px;
				margin-bottom:20px;
			}

			h4 {
				padding-bottom:30px;
			}
		}
	}
}

.profile {
	h2 {
		 margin-bottom:40px;
	}

	img {
			margin-right:20px;
			max-width:200px;
	}

	.userInfo {
		h3 {
			font-weight:500;
			font-size:29px;
			margin-bottom:20px;
			margin-top:20px;
		}

		h4 {
			font-weight:300;
		}
	}

	.counts {
		h2 {
			margin-top:0;
			font-size:80px;
			color:#E3291C;
			margin-bottom:0;
			text-align:center;
			margin-left:0;
			border:none;
		}

		h4 {
			text-align:center;
		}
	}

	#posts, #comments {
		h2 {
			margin-left:0;
			color:#000;
			font-size:31px;
		}
	}

	.userInfo {
		margin-bottom:30px;
	}

	.noPost.post {
		h2 {
			color:#E3291C !important;
		}

		border-bottom:0 !important;
	}

	.post {
		padding-bottom:30px;
		padding-top:30px;
		border-bottom:2px solid darken(#F8F8F8,10);

		img {
			max-width:120px;
			margin-right:40px;
		}

		h2 {
			margin-top:0;
			padding:0;
			margin-left:0;
			margin-bottom:10px;
			color:#000 !important;
			font-size:23px !important;
			border:none;
		}
	}

	.post:last-child {
		border-bottom:none;
	}

	.nav-tabs {
		margin-top:40px;
	}
}

.dashboardSidebar {
	margin-left:0;
	padding-left:0;
	ul {
		li {
			display:block;
			width:100%;

			a {
				border:none !important;
				border-radius:0px;
				font-size:17px;
			}
		}

		li:hover {

		}
	}

}

#offers, #feedback, #feedbackGiven, #activePosts {
	h2 {
		margin-top:0;
		margin-bottom:30px;
	}

	.btn {
		font-size:13px;
		margin-top:10px;
		padding:8px 10px;
	}
	.offer {
		padding-bottom:30px;
		margin-bottom:20px;
		padding-top:10px;
		border-bottom:2px solid darken(#F8F8F8,6);
		padding:0;
		border-radius:10px 10px 0px 0px;

		.denyButton {
			margin-left:20px;
		}
	}

	.offer.noOffer {
		text-align: left;
		border:3px solid #fff !important;
		h2{
			margin:0;
			padding:0;
			margin-bottom:15px;
			border:none;
			background:#fff;
			padding:20px;
			width:100%;
			font-size:20px;
		}

		p {
			padding:10px 20px;
		}
	}

	.offer:last-child {
		border:none;
	}

	img {
		border-radius: 50%;
    	margin-right: 20px;
    	max-height: 90px;
    	max-width: 90px;
	}

	h4 {
		font-size:20px;
		margin-top:0
	}

	p {
		font-size:14px;
	}
}


.dashboard{
	> h2 {
		margin-bottom:30px;
	}

	min-height:500px;
}

footer {
	width:100%;
	background-color:#000;
	color:#fff;
	margin-top:50px;

	img {
		max-width:30px;
		margin-left:25px;
		margin-right:5px;
	}

	p {
		color:#fff;
	}

	i {
		font-size:30px !important;
		float:right;
		margin-left:30px;
		margin-top:23px;
	}

	ul {
		margin-top:20px;
		margin-bottom:30px;
		margin-left:0;
		padding-left:0;
		li {
			display:inline;
			padding-right:20px;

			a {
				color:#fff;
				font-size:15px;
			}

			a:hover {
				color:darken(#fff,30);
				text-decoration:none;
			}
		}
	}

	h2 {
		color:#fff;
	}
}


.smallPhoto:hover {
	cursor: pointer;
}


.feedbackForm {
	margin-top:40px;
	select {
		display:inline-block;
		width:auto;
	}
}


#userSettings {
	select {
		width:200px;
	}
}

#feedback, #feedbackGiven {
	.feedback {
		margin-bottom:20px;
		padding-bottom:20px;
		border-bottom:2px solid darken(#F2F2F2,3);
		img {
			max-width:100px;
		}
	}
}


.why {
	margin-top:40px;
	margin-bottom:40px;
	padding-bottom:60px;

	.whySection {
		img {
			width:150px;
			height:150px;
			border-radius:50%;
			margin:0px auto;
			display:block;
		}

		p {
			text-align: center;
			margin-top:15px;
		}
		
		h4 {
			font-weight:500;
			text-transform: uppercase;
			text-align:center;
			font-size:23px;
			margin-top:20px;
		}
	}
	h2{
	text-align:center;
	font-size:45px;
	margin-bottom:60px;
	font-weight:300;
	span {
		color:#E3291C;
		font-weight:600;
	}
	}
}


.listings {
	background-color:#fff;
	padding-bottom:50px;
	margin-bottom:-70px;
}

@media(max-width:990px)
{

	.facebookLogin {
		margin-bottom:40px;

		p {
			padding-right:0 !important;
		}
	}

	.homePost {
		img {
			margin-bottom:20px;
			width:100%;
			max-height:auto !important;
		}
	}


	.dashboardSidebar {
		margin-bottom:40px;
	}

	.postShow {
		img {
			margin-bottom:15px;
		}
	}

	.photo {
		margin-left:0;
		height:auto !important;
		padding-bottom:30px;

		h2 {
			font-size:20px;
			margin-top:30px;
		}

		h3, h4 {
			font-size:25px;
		}

		select {
			width:80%;
		}
	}

	.imageContainer, .mainPhoto {
		height:auto !important;
	}

	.logo img {
		margin-bottom:10px;
	}
	.search {
		input, select {
			width:100%
		}

		select {
			margin-left:0;
			margin-top:10px;
		}
		.btn {
			margin-top:10px;
			width:100%;
			margin-left:0;
		}
	}
}


.registerForm {
	h3 {
		margin-top:0;
		margin-bottom:20px;
	}

	label {
		font-weight:400;
	}
}


.searchContainer, .minContainer {
	min-height:700px;
}


.facebookLogin {
	p {
		font-size: 16px;
    	font-weight: 300;
    	line-height: 1.6em;
    	margin-bottom:20px;
    	padding-right:70px;
	}

	img {
		max-width:220px;
	}
}


.red {
	color:#E3291C;
}

.pricing .col-xs-5 {
    padding: 0;
}

.form-horizontal .control-label {
	font-weight:400;
}


.activePost {
	border-bottom: 2px solid darken(#F2F2F2,2);
    margin-bottom: 25px;
    margin-top: 10px;
    padding-bottom: 20px;
		h3 {
			margin-top:0;
		}
	}



.login {
	img {
		max-width:210px;
		float:right;
	}
}

